html {
  font-family: "Rye", serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

#popup_resultado {
  background: linear-gradient(70deg, #ff2e00, #ffd7ca);
}

.contenedor_boton {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .contenedor {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
} */

.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ancho {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.ancho {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

img {
  width: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.foto1,
foto3,
.boton {
  box-shadow: 20px 15px 7px rgba(0, 0, 0, 0.205);
}

.boton {
  font-family: "Rye", serif;
  font-weight: 600;
  font-size: larger;
  background-color: #e8bf47;
  border-radius: 100px;
  width: 7rem;
  height: 7rem;
  align-self: center;
  border: none;
}

.titulo {
  margin: 2rem;
  font-size: large;
  max-width: 480px;
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
  html {
    /* max-width: 700px;
    height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
    max-width: 992px;
  }
}