#popup_resultado {
  background: linear-gradient(70deg, #ff2e00, #ffd7ca);
}

.contenedor_boton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenes_resultado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ancho {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.imagenes_resultado img {
  border-radius: 5%;
}

.foto1,
foto3,
.boton {
  box-shadow: 20px 15px 7px rgba(0, 0, 0, 0.205);
}

.boton_volver {
  font-family: "Rye", serif;
  font-weight: 600;
  font-size: larger;
  background-color: #e8bf47;
  border-radius: 100px;
  width: 7rem;
  height: 7rem;
  align-self: center;
  border: none;
}

.titulo {
  margin: 2rem;
  font-size: large;
  max-width: 480px;
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .ancho {
    width: 120px;
    height: 120px;
  }
}