
#popUpInstrucciones{

    background-color:#BC8F12;
    width: 100%;
    height: 70%;
}

#instrucciones{
background-color: #ddac23;
display: flex;
width: 100%;
height: 25%;
flex-direction: column;
align-items: center;
margin-top: 10%;
margin-bottom: 5%;
border: 1px solid #353A49;
border-radius: 20%;
text-align: justify;
font-size: 14px;
font-family: 'Courier New', Courier, monospace;
padding-top: 5%;
padding-left: 5%;
padding-right: 2%;
padding-left: 2%;

}
#contenedorArchivo{
    margin-bottom: 5%;
    border-radius: 20%;
}
#vistaPrevia{
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: row;
    margin-bottom: 5%;
    max-height: 300px; 
    overflow-y: auto; 
}
#vistaPrevia li {
    list-style: none; /* Elimina los puntos de la lista para todos los elementos <li> */
}

#contenedorBoton{
    display: flex;
    justify-content: center; 
}

  .preview-image {
    max-width: 10%; /* Cambia según tus preferencias */
    max-height: 10%; /* Cambia según tus preferencias */
    margin-right: 1%; /* Espacio entre imágenes */
}

#boton{
    width: 30%;
    height: 20%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;  
    font-weight: bold;
}
#archivos{
    width: 39%;
    height: 20%;  
    
}


#contenedorArchivo {

    overflow: hidden;
  

}
 
#contenedorArchivo input[type=file] {
    font-size: 10px;
    position:absolute;
    left: 20%;
    top:183px;
    opacity: 0;
    }
    /* ESTILO DEL BOTÓN */
   #selector-imagenes{
    margin: 5px;
    background-color: #BC8F12;
    content: Añadir imagen;
    color: black;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid black;
    transition: all 0.3s ease 0s;
    width: 12em;
    padding: 10px;
    }
    /* ESTILO DEL BOTÓN CON HOVER DE MOUSE */
   /** #selector-imagenes:hover{
      color: white;
      background-color: #BC8F12;
    }
    */

@media (min-width: 992px) {


    #popUpInstrucciones{

        background-color:#BC8F12;
        width: 100%;
        height: 70%;
    }
    
    #instrucciones{
    background-color: #ddac23;
    display: flex;
    width: 100%;
    height: 5%;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 1px solid #353A49;
    border-radius: 20%;
    text-align: justify;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 2%;
    padding-left: 2%;
    
    }
    #contenedorArchivo{
        margin-bottom: 5%;
        border-radius: 20%;
    }
    #vistaPrevia{
        background-color: #ffffff;
        display: flex;
        width: 100%;
        height: 40%;
        flex-direction: row;
        margin-bottom: 5%;
        max-height: 300px; 
        overflow-y: auto; 
    }
    #vistaPrevia li {
        list-style: none; /* Elimina los puntos de la lista para todos los elementos <li> */
    }
    
    #contenedorBoton{
        display: flex;
        justify-content: center; 
    }
    
      .preview-image {
        max-width: 10%; /* Cambia según tus preferencias */
        max-height: 10%; /* Cambia según tus preferencias */
        margin-right: 1%; /* Espacio entre imágenes */
    }
    
    #boton{
        width: 30%;
        height: 20%;
        border: none;
        background-color: black;
        color: white;
        border-radius: 4px;  
        font-weight: bold;
    }
    #archivos{
        width: 50%;
        height: 20%;  
        
    }


}