html{
    height: 100%;
    margin: 0;
    font-family: "Rye", serif;
  }
  
body {
    /* The image used */
    background-image: url("/imagenes/image36.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
    .botonjugar {
        background:#e8be46;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display:flex;
        justify-content: center;
        align-items: center;

    
 } 
 h1{
    color:#e8be46; 
 }
 .boton{
    text-decoration: none;
    color: black;
    font-size: 25px;
 }