body {
    background-image: url("../Imagenes/fondos/fondo_movil_juego.png");
    font-family: "Rye", serif;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.navbar {
    height: 18vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.navbar img {
    width: 5rem;
    height: 7rem;
    column-gap: 1rem;
}

.escalar:hover {
    transform: scale(1.1);
}

#info {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 30px;
}

button,
#boton_info {
    border: none;
    background-color: transparent;
}

li .logo {
    width: 45%;
    margin-left: 30px;
}

main {
    top: 150px;
    display: flex;
    justify-content: center;
}

#boton_info {
    cursor: pointer;
}

.tarjetas {
    position: absolute;
    top: 350px;
    z-index: -1;
    width: 200px;
    height: 100px;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: #e8be46;
    margin-right: 50px;
}

.tarjeta img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    /* margin-right: 20px; */
}

.maquina {
    z-index: 1;
}

.maquina-abajo {
    margin-left: 8px;
    margin-top: 44.4px;
}

dialog {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
   
}

#boton_cerrar{
    color: white;
    border: 2px solid white;
    padding: 5px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    html {
        height: 100%;
    }

    body {
        background-image: url("../Imagenes/fondos/fondo_escritorio_juego.png");
        max-width: 1200px;
        width: 80%;
        padding-left: 70px;
    }


    .navbar {
        height: 25vh;
    }

    .navbar img {
        margin: 2rem 1rem 0;
        width: 12rem;
        height: 15rem;
    }

    #info {
        margin-right: 70px;
        width: 2rem;
        height: 2rem;
    }

    li .logo {
        width: 40%;
    }

    .maquina {
        width: 65%;
        margin-top: -30px;
        margin-left: 50px;
    }

    .tarjetas {
        width: 30%;
        height: 150px;
        top: 505px;
        margin-left: 9.2px;
    }

    .tarjeta img {
        width: 90px;
        height: 90px;
        margin-right: 0;
    }

    .maquina-abajo {
        width: 65%;
        margin-left: 63px;
        margin-top: 39px;
    }
}