html {
  height: 110%;
  margin: 0;
  font-family: "Rye", serif;
}

body {
  background-image: url("../Imagenes/fondos/fondo_movil_inicio.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boton_jugar {
  background: #e8be46;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: calc(12px + 3vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.boton {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #fff6a9, 0 0 20px #fff6a9, 0 0 30px #fff6a9, 0 0 40px #fff6a9, 0 0 50px #fff6a9, 0 0 60px #fff6a9, 0 0 70px #fff6a9, 0 0 90px #fff6a9;
  }

  to {
    color: gray;
    text-shadow: 0 0 20px #fff6a9, 0 0 30px #fff6a9, 0 0 40px #fff6a9, 0 0 50px #fff6a9, 0 0 60px #fff6a9, 0 0 70px #fff6a9, 0 0 80px #fff6a9, 0 1 90px #fff6a9;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url("../Imagenes/fondos/fondo_escritorio_inicio.jpg");
  }

  .boton_jugar {
    width: 200px;
    height: 200px;
  }

  .boton {
    font-size: 40px;
  }

  h1 {
    font-size: 80px;
  }

  img {
    width: 300px;
  }
}