html {
  height: 100%;
  margin: 0;
  font-family: "Rye", serif;
}

body {
<<<<<<< HEAD
  background-image: url("../Imagenes/fondos/fondo_movil_inicio.jpg");
=======
  background-image: url("../Imagenes/image36.jpg");
>>>>>>> 6fa397c6443ffedc7c646ae0571d5571b2f71798
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boton_jugar {
  background: #e8be46;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #e8be46;
}

.boton {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  body {
<<<<<<< HEAD
    background-image: url("../Imagenes/fondos/fondo_escritorio_inicio.jpg");
=======
    background-image: url("../Imagenes/image35.jpg");
>>>>>>> 6fa397c6443ffedc7c646ae0571d5571b2f71798
  }

  .boton_jugar {
    width: 200px;
    height: 200px;
  }

  .boton {
    font-size: 40px;
  }

  h1 {
    font-size: 80px;
  }

  img {
    width: 300px;
  }
}
