#popup_instrucciones {
  background-color: #bc8f12;
  width: 100%;
  height: 70%;
  display: none;
}

#instrucciones {
  background-color: #ddac23;
  display: flex;
  width: 100%;
  height: 25%;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  border: 1px solid #353a49;
  border-radius: 20%;
  text-align: justify;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 2%;
  padding-left: 2%;
}

#contenedor_archivo {
  margin-bottom: 5%;
  border-radius: 20%;
}

#vista_previa {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: row;
  margin-bottom: 5%;
  max-height: 300px;
  overflow-y: auto;
}

#vista_previa li {
  list-style: none;
  /* Elimina los puntos de la lista para todos los elementos <li> */
}

#contenedor_boton {
  display: flex;
  justify-content: center;
}

.imagen_previa {
  max-width: 10%;
  /* Cambia según tus preferencias */
  max-height: 10%;
  /* Cambia según tus preferencias */
  margin-right: 1%;
  /* Espacio entre imágenes */
}

#boton {
  width: 30%;
  height: 20%;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

#archivos {
  width: 39%;
  height: 20%;
}

#contenedor_archivo {
  overflow: hidden;
}

#contenedor_archivo input[type="file"] {
  font-size: 10px;
  position: absolute;
  left: 14%;
  top: 190px;
  opacity: 0;
}

/* ESTILO DEL BOTÓN */
#selector_imagenes {
  margin: 5px;
  background-color: #bc8f12;
  text-align: center;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid black;
  transition: all 0.3s ease 0s;
  width: 12em;
  padding: 10px;
}

/* ESTILO DEL BOTÓN CON HOVER DE MOUSE */
#selector_imagenes:hover {
  color: black;
  font-family: "Courier New", Courier, monospace;
  background-color: #bc8f12;
}

/* Media query para ordenador */
@media (min-width: 992px) and (max-width: 1200px) {
  #popup_instrucciones {
    background-color: #bc8f12;
    width: 100%;
    height: 75%;
  }

  #instrucciones {
    background-color: #ddac23;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 1px solid #353a49;
    border-radius: 20%;
    text-align: justify;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 2%;
    padding-left: 2%;
  }

  #contenedor_archivo {
    margin-bottom: 5%;
    border-radius: 20%;
  }

  #vista_previa {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: row;
    margin-bottom: 5%;
    max-height: 300px;
    overflow-y: auto;
  }

  #vista_previa li {
    list-style: none;
    /* Elimina los puntos de la lista para todos los elementos <li> */
  }

  #contenedor_boton {
    display: flex;
    justify-content: center;
  }

  .imagen_previa {
    max-width: 10%;
    /* Cambia según tus preferencias */
    max-height: 10%;
    /* Cambia según tus preferencias */
    margin-right: 1%;
    /* Espacio entre imágenes */
  }

  #boton {
    width: 30%;
    height: 20%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }

  #archivos {
    width: 39%;
    height: 20%;
  }

  #contenedor_archivo {
    overflow: hidden;
  }

  #contenedor_archivo input[type="file"] {
    font-size: 10px;
    position: absolute;
    left: 10%;
    top: 183px;
    opacity: 0;
  }

  /* ESTILO DEL BOTÓN */
  #selector_imagenes {
    margin: 5px;
    background-color: #bc8f12;
    text-align: center;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid black;
    transition: all 0.3s ease 0s;
    width: 12em;
    padding: 10px;
  }

  /* ESTILO DEL BOTÓN CON HOVER DE MOUSE */
  #selector_imagenes:hover {
    color: black;
    font-family: "Courier New", Courier, monospace;
    background-color: #bc8f12;
  }
}